* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: black;
  color: magenta;
}
body {
  background-color: #a9dce3;
  color: white;
}
.glyphicon {
  font-size: 20px;
  color: magenta;
}
.center {
  width: 90%;
  background-color: grey;
}
.container {
  background-color: #7689de;
}
.text-center {
  font-size: 1.7em;
  color: green;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 2.8em;
  color: black;
  font-weight: 700;
}
#myNavbar ul li a {
  color: magenta;
}
.navbar-brand {
  font-size: 30px;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    font-size: 1.2em;
    width: 100%;
  }
}
.col-xs-12 {
  width: 100%;
  font-size: 1.2em;
}